{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} {{ user.username }} Profile {% endblock title%}

{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        {% if user.profile.trusted %}
        <i class="fas fa-check-circle"></i><small class="trusted">Trusted</small>
        {% else %}
        <i class="fas fa-times-circle"></i><small class="not-trusted">Not Trusted</small>
        <div class="danger rtl align-text-right">
          <small class="rtl">من فضلك قم برفع صورة لكارنية المحاماه الخاص بك او اثبات الشخصية
            الخاص بك اذا لم تكن محام ، الحالة الخاصة بحسابك سوف تتحول الى Trusted 
          خلال 6 ساعات من رفعك للاوراق المطلوبة وبعد ان يتم التأكد منها. </small></div>
        {% endif %}
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Information</legend>
          {{ u_form|crispy }}
          <!-- {{ p_form|crispy }} -->
          <!-- ------- -->
          {% if user.profile.trusted %}
          <div class="image-field">
              {{ p_form.image.errors }}
            <div class="img-label">{{ p_form.image.label_tag }}</div>
            <div class="img-field-div">{{ p_form.image }}</div>
          </div>
            {{ p_form.phone_number|as_crispy_field }}
          {% else %}
          <div class="image-field">
            {{ p_form.image.errors }}
            <div class="img-label">{{ p_form.image.label_tag }}</div>
            <div class="img-field-div">{{ p_form.image }}</div>
          </div>
          <div class="image-field">
            {{ p_form.id_image.errors }}
            <div class="img-label">{{ p_form.id_image.label_tag }}</div>
            <div class="img-id-field-div">{{ p_form.id_image }}</div>
          </div>

            {{ p_form.id_number|as_crispy_field }}
            {{ p_form.phone_number|as_crispy_field }}
          {% endif %}
          
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
</form>
</div>
{% endblock %}